/* Result Window */

.window {
  height: 20%;
  display: flex;
  padding: 6px 18px;
  border-radius: 10px;
  justify-content: end;
  background-color: var(--clr-accent);
}

.res {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
  color: var(--clr-text-light);
}

/* Numpad  */

.numpad {
  display: flex;
  justify-content: center;
}
.grid {
  margin: auto;
  padding: 10px;
}
.btn {
  padding: 25px 40px;
  border-radius: 10px;
}
