@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;800&display=swap");

/* Colors & font-sizes */
:root {
  /* Background Colors  */
  --clr-bg: hsl(222, 26%, 31%);
  --clr-res-tab: hsl(224, 36%, 15%);
  --clr-keypad: hsl(223, 31%, 20%);

  /* Text Colors */
  --clr-text-light: hsl(0, 0%, 100%);
  --clr-text-dark: hsl(221, 14%, 31%);

  /* Button Colors  */
  --clr-btn: hsl(30, 25%, 89%);
  --clr-btn-br: hsl(28, 16%, 65%);
  --clr-btn-hover: hsl(0, 0%, 100%);

  --clr-btn-red: hsl(6, 63%, 50%);
  --clr-btn-red-br: hsl(6, 70%, 34%);
  --clr-btn-red-hover: hsl(6, 96%, 68%);

  --clr-btn-blue: hsl(225, 21%, 49%);
  --clr-btn-blue-br: hsl(224, 28%, 35%);
  --clr-btn-blue-hover: hsl(225, 37%, 63%);

  /* font family */
  --ff-primary: "League Spartan", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.475rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.2rem;
}

/* Utilities Classes */
.text-primary {
  color: var(--clr-primary);
}
.text-accent {
  color: var(--clr-accent);
}
.text-accent-light {
  color: var(--clr-accent-light);
}

.text-neutral {
  color: var(--clr-neutral);
}
.text-neutral-light {
  color: var(--clr-neutral-light);
}
